<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<!-- start: Meta -->
<meta charset="utf-8" />
<title>Profilo Atleta</title>
<meta name="description" content="GotYa Free Bootstrap Theme" />
<meta name="keywords" content="Template, Theme, web, html5, css3, Bootstrap" />
<!-- <meta name="author" content="Łukasz Holeczek from creativeLabs" /> -->
<!-- end: Meta -->

<!-- start: CSS -->
<link href="../css/bootstrap.css" rel="stylesheet" />
<link href="../css/bootstrap-responsive.css" rel="stylesheet" />
<link href="../css/style.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo" />
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Economica:700,400italic" />
<!-- end: CSS -->
</head>
<body>
	<header th:include="layout :: Header"></header>

	<!-- start: Wrapper -->
	<div id="wrapper">
		<!-- start: Container -->
		<div class="container">
			<!-- start: Row -->
			<div class="row">
				<!-- start: Pannello Utente-->
				<div class="span5">
					<div class="title">
						<h3>
							Pannello utente di <span sec:authentication="name"></span>
						</h3>
					</div>
					<div class="clearfix">
						<font size="3"> <span th:if="${utente.atletaGestito}"> Hai registrato un profilo
								atleta: <span th:text="${utente.atletaGestito.nome} +' '+ ${utente.atletaGestito.cognome}"></span>
								<br />
						</span> <span th:unless="${utente.atletaGestito}"> Non hai <b>ancora</b> registrato un profilo
								atleta. <a th:href="@{/utente/newAtleta}">Registralo ora!</a> <br /></span> <span
							th:if="${utente.societaGestita}"> Hai registrato una società: <span
								th:text="${utente.societaGestita.nome}"></span> <br /></span> <span
							th:unless="${utente.societaGestita}"> Non hai una società registrata a tuo carico. <a
								th:href="@{/utente/newSocieta}">Registrala ora!</a> <br /></span>
						</font>
						<hr th:if="${erroreNewAtleta} or ${erroreNewSocieta}" />
						<font size="3"><span class="text-error" th:text="${erroreNewAtleta}"></span><br /> <span
							class="text-error" th:text="${erroreNewSocieta}"></span> </font>
					</div>
				</div>
				<!-- end: Pannello Utente -->

				<!-- start: Pannello Atleta -->

				<!-- end: Pannello Atleta -->



				<!-- start: Riepilogo Info -->
				<div class="span4" th:if="${successo}">
					<div class="title">
						<h3>Riepilogo Informazioni</h3>
					</div>
					<div class="span4">
						<span class="text-success" th:text="${successo}"></span>
					</div>
				</div>
				<!-- end: Riepilogo Info -->
			</div>
			<!-- end: Row -->
		</div>
		<!-- end: Container -->
	</div>
	<!-- end: Wrapper  -->

	<div th:include="layout :: javascript"></div>
</body>
</html>