<!DOCTYPE html>
<html lang="en" 
   xmlns:th="http://www.thymeleaf.org" 
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8"/>
<title>Three.Four.Fun</title>
</head>
<body>
   <h1>Hello Spring!</h1>

   <div sec:authorize="isAuthenticated()">
      Benvenuto, <span sec:authentication="name">[generic user]</span>
      <form action="/logout" method="post">
         <input id="logout" type="submit" value="[Logout]" />
      </form>

      <div th:if="${utente.atletaGestito}">
         I tuoi dati da atleta: <span
            th:text="${utente.atletaGestito.nome} +' '+ ${utente.atletaGestito.cognome}"></span>
      </div>
      <div th:unless="${utente.atletaGestito}">
         Non hai <b>ancora</b> registrato un profilo atleta. <a href="/utente/newAtleta">Registralo ora!</a>
      </div>

      <div th:if="${utente.societaGestita}">
         La tua società: <span
            th:text="${utente.societaGestita.nome}"></span>
      </div>
      <div th:unless="${utente.societaGestita}">
         Non hai una società registrata a tuo carico. <a href="/utente/newSocieta">Registrala ora!</a> 
         <span th:text="${erroreNewSocieta}"></span>
      </div>
   </div>
   <hr />
   
  <p><a href="/utente/newAtleta">Registra il tuo profilo atleta (utente)</a> <span th:text="${erroreNewAtleta}"></span></p>
  <p><a href="/utente/newSocieta">Registra una nuova società (utente) </a> <span th:text="${erroreNewSocieta}"></span></p>
  
  <p><a href="listSocieta">Visualizza l'elenco delle società</a></p>
  
  <p><a href="/admin/newGara">Registra una nuova gara (admin)</a></p>
  <p><a href="/index.html">Aggiorna la classifica di una gara [TO-DO]</a></p>
  <p><a href="/index.html">Visualizza le classifiche [TO-DO]</a></p>
  
  <hr/>
  <p><a href="/accedi">Accedi all'area riservata</a></p>
  <hr/>
</body>
</html>