
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<!-- start: Meta -->
<meta charset="utf-8" />
<title>Three Four Fun</title>
<meta name="description" content="GotYa Free Bootstrap Theme" />
<meta name="keywords" content="Template, Theme, web, html5, css3, Bootstrap" />
<meta name="author" content="Łukasz Holeczek from creativeLabs" />
<!-- end: Meta -->

<!-- start: Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<!-- end: Mobile Specific -->


<!-- start: CSS -->
<link href="../css/bootstrap.css" rel="stylesheet" />
<link href="../css/bootstrap-responsive.css" rel="stylesheet" />
<link href="../css/style.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
   href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo" />
<link rel="stylesheet" type="text/css"
   href="http://fonts.googleapis.com/css?family=Economica:700,400italic" />

</head>
<body>

   <!--start: Header -->
   <header>

      <!--start: Container -->
      <div class="container">

         <!--start: Row -->
         <div class="row">

            <!--start: Logo -->
            <div class="logo span3">

               <a class="brand" href="#"><img src="img/logo.png" alt="Logo" /></a>

            </div>
            <!--end: Logo -->

            <!--start: Navigation -->
            <div class="span9">

               <div class="navbar navbar-inverse">
                  <div class="navbar-inner">
                     <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                     </a>
                     <div class="nav-collapse collapse">
                        <ul class="nav">
                           <li class="active"><a href="index.html">Home</a></li>
                           <li><a href="classifiche.html">Classifiche</a></li>
                           <li><a href="societa.html">Società</a></li>
                           <li class="dropdown"><a href="gare.html" class="dropdown-toggle"
                              data-toggle="dropdown">Gare <b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                 <li><a href="/admin/addGara">Registra Gara</a></li>
                                 <li><a href="#">Aggiorna Classifica Gare</a></li>

                              </ul></li>
                           <li><a
                              href="#">Atleti</a></li>
                           <li class="dropdown"><a href="#" class="dropdown-toggle"
                              data-toggle="dropdown">Utility <b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                 <li><a href="/utente/newAtleta">Iscrizione Atleta</a></li>
                                 <li><a href="/utente/addSocieta">Iscrizione Società</a></li>
                                 <li><a href="/utente/listSocieta">Visualizza Elenco
                                       Societa</a></li>
                                 <li class="divider"></li>
                                 <li class="nav-header">Restricted Area</li>
                                 <li><form action="/logout" method="post">
                                       <input id="logout" type="submit" value="[Logout]" />
                                    </form></li>
                                 <li><a href="/accedi">Accesso Utente</a></li>
                                 <li><a href="/loginAdmin">Login Admin</a></li>
                              </ul></li>
                        </ul>
                     </div>
                  </div>
               </div>

            </div>
            <!--end: Navigation -->

         </div>
         <!--end: Row -->

      </div>
      <!--end: Container-->

   </header>
   <!--end: Header-->

   <!-- start: Slider -->
   <div class="slider-wrapper">

      <div id="da-slider" class="da-slider">
         <div class="da-slide">
            <h2>Miglior Runner</h2>
            <p>Tempi - Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
               nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            <a href="#" class="da-link">Pagina Atleta</a>
            <div class="da-img">
               <img src="http://www.pngmart.com/files/1/Usain-Bolt-PNG-File.png" alt="image01" />
            </div>
         </div>
         <div class="da-slide">
            <h2>Miglior Biker</h2>
            <p>Tempi- Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
               nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            <a href="#" class="da-link">Pagina Atleta</a>
            <div class="da-img">
               <img src="http://pngimg.com/uploads/bicycle/bicycle_PNG5392.png" alt="image02" />
            </div>
         </div>
         <div class="da-slide">
            <h2>Miglior Nuotatore</h2>
            <p>Tempi - Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
               nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            <a href="#" class="da-link">Pagina Atleta</a>
            <div class="da-img">
               <img
                  src="https://www.abbytriclub.com/wp-content/uploads/2016/09/triathlete-brighton.png"
                  alt="image03" />
            </div>
         </div>
         <div class="da-slide">
            <h2>Miglior Donna</h2>
            <p>Tempi - Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
               nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            <a href="#" class="da-link">Pagina Atleta</a>
            <div class="da-img">
               <img src="http://pngimg.com/uploads/running_man/running_man_PNG11679.png"
                  alt="image04" />
            </div>
         </div>
         <nav class="da-arrows">
            <span class="da-arrows-prev"></span> <span class="da-arrows-next"></span>
         </nav>
      </div>

   </div>
   <!-- end: Slider -->

   <!--start: Wrapper-->
   <div id="wrapper">

      <!--start: Container -->
      <div class="container">

         <!-- start: Hero Unit - Main hero unit for a primary marketing message or call to action -->
         <div class="hero-unit">
            <p>Welcome to an extraordinary triathlon experience.Every year millions of people
               travel around the globe to see the Coliseum, the Imperial Fora, Caracalla Baths and
               so on…. but only FEW ELECTED triathletes will have the privilege to ride around them.
            </p>
            <p>
               <a class="btn btn-success btn-large">Learn more &raquo;</a>
            </p>
         </div>
         <!-- end: Hero Unit -->

         <!-- start: Row -->
         <div class="row">

            <div class="span4">
               <div class="icons-box">
                  <i class="ico-ok circle big"></i>
                  <div class="title">
                     <h3>Prossima gara 1</h3>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                     nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                  <div class="clear"></div>
               </div>
            </div>

            <div class="span4">
               <div class="icons-box">
                  <i class="ico-ipad circle big"></i>
                  <div class="title">
                     <h3>Prossima gara 2</h3>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                     nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                  <div class="clear"></div>
               </div>
            </div>

            <div class="span4">
               <div class="icons-box">
                  <i class="ico-heart circle big"></i>
                  <div class="title">
                     <h3>Prossima gara 3</h3>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                     nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                  <div class="clear"></div>
               </div>
            </div>

         </div>
         <!-- end: Row -->

         <hr></hr>

         <!-- start Clients List -->
         <div class="clients-carousel">

            <ul class="slides clients">
               <li><img src="img/atleti/a.jpg" alt="" /></li>
               <li><img src="img/atleti/b.jpg" alt="" /></li>
               <li><img src="img/atleti/c.jpg" alt="" /></li>
               <li><img src="img/atleti/d.jpg" alt="" /></li>
               <li><img src="img/atleti/e.jpg" alt="" /></li>
               <li><img src="img/atleti/f.jpg" alt="" /></li>
               <li><img src="img/atleti/g.jpg" alt="" /></li>
               <li><img src="img/atleti/a.jpg" alt="" /></li>
               <li><img src="img/atleti/b.jpg" alt="" /></li>
               <li><img src="img/atleti/c.jpg" alt="" /></li>
            </ul>

         </div>
         <!-- end Clients List -->

         <hr></hr>

         <!-- start: Row -->
         <div class="row">

            <!-- start: Icon Boxes -->
            <div class="icons-box-vert-container">

               <!-- start: Icon Box Start -->
               <div class="span6">
                  <div class="icons-box-vert">
                     <i class="ico-ok ico-color circle-color big"></i>
                     <div class="icons-box-vert-info">
                        <h3>Triathlon Giovani</h3>
                        <p>Il Settore Giovanile è la piattaforma per la pratica di una attività
                           sportiva divertente e ottimale per lo sviluppo psicofisico dei giovani.
                           E’ la base da cui nascono, crescono e maturano i futuri campioni.</p>
                     </div>
                     <div class="clear"></div>
                  </div>
               </div>
               <!-- end: Icon Box-->

               <!-- start: Icon Box Start -->
               <div class="span6">
                  <div class="icons-box-vert">
                     <i class="ico-cup  ico-white circle-color-full big-color"></i>
                     <div class="icons-box-vert-info">
                        <h3>Paratriathlon</h3>
                        <p>Il triathlon è sport inclusivo: atleti disabili e normodotati
                           gareggiano insieme e sugli stessi percorsi. Le regole del paratriathlon
                           sono un adattamento delle regole del triathlon alle differenti tipologie
                           di disabilità. La conseguenza è la valorizzazione delle capacità
                           individuali.</p>
                     </div>
                     <div class="clear"></div>
                  </div>
               </div>
               <!-- end: Icon Box -->

               <!-- start: Icon Box Start -->
               <div class="span6">
                  <div class="icons-box-vert">
                     <i class="ico-ipad ico-color circle-color big"></i>
                     <div class="icons-box-vert-info">
                        <h3>Triathlon</h3>
                        <p>Il triathlon è uno sport multidisciplinare individuale o a squadre.
                           Dal 2000 è specialità olimpica maschile e femminile</p>
                     </div>
                     <div class="clear"></div>
                  </div>
               </div>
               <!-- end: Icon Box -->

               <!-- start: Icon Box Start -->
               <div class="span6">
                  <div class="icons-box-vert">
                     <i class="ico-thumbs-up  ico-white circle-color-full big-color"></i>
                     <div class="icons-box-vert-info">
                        <h3>Duathlon</h3>
                        <p>Sport multidisciplinare di resistenza nel quale l'atleta copre
                           nell'ordine una prova di corsa, una di ciclismo e una di corsa, senza
                           interruzione.</p>
                     </div>
                     <div class="clear"></div>
                  </div>
               </div>
               <!-- end: Icon Box -->

            </div>
            <!-- end: Icon Boxes -->
            <div class="clear"></div>
         </div>
         <!-- end: Row -->

        <hr></hr> 

      </div>
      <!--end: Container-->

   </div>
   <!-- end: Wrapper  -->

   <!-- start: Footer Menu -->
   <div id="footer-menu" class="hidden-tablet hidden-phone">

      <!-- start: Container -->
      <div class="container">

         <!-- start: Row -->
         <div class="row">

            <!-- start: Footer Menu Logo -->
            <div class="span2">
               <div id="footer-menu-logo">
                  <a href="#"><img src="img/logo-footer-menu.png" alt="logo" /></a>
               </div>
            </div>
            <!-- end: Footer Menu Logo -->

            <!-- start: Footer Menu Links-->
            <div class="span9">

               <div id="footer-menu-links">

                  <ul id="footer-nav">

                     <li><a href="index.html">Home</a></li>

                     <li><a href="classifiche.html">Classifiche</a></li>

                     <li><a href="societa.html">Società</a></li>

                     <li><a href="gare.html">Gare</a></li>

                     <li><a href="formAtleta.html">Atleti</a></li>

                  </ul>

               </div>

            </div>
            <!-- end: Footer Menu Links-->

            <!-- start: Footer Menu Back To Top -->
            <div class="span1">

               <div id="footer-menu-back-to-top">
                  <a href="#"></a>
               </div>

            </div>
            <!-- end: Footer Menu Back To Top -->

         </div>
         <!-- end: Row -->

      </div>
      <!-- end: Container  -->

   </div>
   <!-- end: Footer Menu -->

   <!-- start: Footer -->
   <div id="footer">

      <!-- start: Container -->
      <div class="container">

         <!-- start: Row -->
         <div class="row">

            <!-- start: About -->
            <div class="span3">

               <h3>About Us</h3>
               <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                  nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                  ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                  aliquip ex ea commodo consequat.</p>

            </div>
            <!-- end: About -->

            <!-- start: Where we are -->
            <div class="span3">

               <h3>We are here!</h3>
               <div id="small-map-container"></div>
               <iframe id="small-map" width="210" height="210" frameborder="0" scrolling="yes"
                  marginheight="0" marginwidth="0"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23821.11024250772!2d12.267866462468227!3d41.72831286096268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1325efd9afa2093d%3A0xafc77c4dac72cf41!2sLido+di+Ostia+RM!5e0!3m2!1sit!2sit!4v1497688933501"></iframe>

            </div>
            <!-- end: Where we are -->

         </div>
         <!-- end: Row -->

      </div>
      <!-- end: Container  -->

   </div>
   <!-- end: Footer -->

   <!-- start: Copyright -->
   <div id="copyright">

      <!-- start: Container -->
      <div class="container">

         <p>
            &copy; 2013, creativeLabs. <a href="http://bootstrapmaster.com" alt="Bootstrap Themes">Bootstrap
               Themes</a> designed by BootstrapMaster in Poland <img src="img/poland2.png" alt="Poland"
               style="margin-top: -4px" />
         </p>

      </div>
      <!-- end: Container  -->

   </div>
   <!-- end: Copyright -->

   <!-- start: Java Script -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="js/jquery-1.8.2.js"></script>
   <script src="js/bootstrap.js"></script>
   <script src="js/flexslider.js"></script>
   <script src="js/carousel.js"></script>
   <script src="js/jquery.cslider.js"></script>
   <script src="js/slider.js"></script>
   <script defer="defer" src="js/custom.js"></script>
   <!-- end: Java Script -->

</body>
</html>