<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<!-- start: Meta -->
<meta charset="utf-8" />
<title>Lista società</title>
<meta name="description" content="GotYa Free Bootstrap Theme" />
<meta name="keywords" content="Template, Theme, web, html5, css3, Bootstrap" />
<!-- <meta name="author" content="Łukasz Holeczek from creativeLabs" /> -->
<!-- end: Meta -->

<!-- start: CSS -->
<link href="../css/bootstrap.css" rel="stylesheet" />
<link href="../css/bootstrap-responsive.css" rel="stylesheet" />
<link href="../css/style.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo" />
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Economica:700,400italic" />
<!-- end: CSS -->
</head>
<body>
	<header th:include="layout :: Header"></header>

	<!-- start: Wrapper -->
	<div id="wrapper">
		<!-- start: Container -->
		<div class="container">
			<!-- start: Row -->
			<div class="row">
				<!-- start: List Società -->
				<div class="span4">
					<div class="title">
						<h3>Lista delle società</h3>
					</div>
					<ul>
						<li th:each="entry: ${elencoSocieta}"><b th:text="${entry.key}"></b>
							<ul>
								<li th:each="soc: ${entry.value}"><a th:href="@{/listSocieta/} + ${soc.id}"
									th:text="${soc.nome}"></a> <!--
                     <form action="product" method="post">
                        <input type="hidden" value="${product.id}" name="id" />
                        <div class="actions">
                           <button class="btn btn-succes btn-mini" type="submit" name="command">Cancella</button>
                        </div>
                     </form>
                     --></li>
							</ul></li>
					</ul>
				</div>
				<!-- end: List Società -->
				<!-- start: Società Panel -->
				<div class="span5" th:if="${societaPanel}">
					<div class="title">
						<h3 th:text="${societa.nome}"></h3>
					</div>
					<h4 th:text="'Regione: ' + ${societa.regione}"></h4>
					<h4 th:text="'Data di fondazione: ' + ${societa.dataFondazione}"></h4>
					<h4 th:text="'Presidente: ' + ${societa.presidente.nome} +' '+ ${societa.presidente.cognome}"></h4>

					<hr />
					<table th:unless="${#lists.isEmpty(societa.atleti)}">
						<tr>
							<th align="left">Cognome</th>
							<th align="left">Nome</th>
							<th align="left">Categoria</th>
						</tr>
						<tr th:each="atleta : ${societa.atleti}">
							<td th:text="${atleta.cognome}"></td>
							<td th:text="${atleta.nome}"></td>
							<td th:text="${atleta.categoria}"></td>
						</tr>
					</table>
					<span th:if="${#lists.isEmpty(societa.atleti)}">Non ci sono ancora atleti registrati a
						questa società.</span>
				</div>
				<!-- end: Società Panel -->
			</div>
			<!-- end: Row -->
		</div>
		<!-- end: Container -->
	</div>
	<!-- end: Wrapper  -->

	<!-- 
	<div th:include="layout :: FooterMenu"></div>
	<div th:include="layout :: Footer"></div>
	<div th:include="layout :: Copyright"></div>
	-->
	<div th:include="layout :: javascript"></div>
</body>
</html>